<h1>THIS IS THE SECRET PAGE!</h1>
<p>You Are Logged!</p>
<img src="https://images.unsplash.com/photo-1556942154-006c061d4561?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Ahmed">

<li><a href="/register">SignUp</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>